{% extends 'base.html' %}
{% block title %}Items{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/items.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <h2>Список товаров</h2>
    <div class="items">
        {% for item in items %}
        <div class="item">
            <a href="{% url "item-detail" item.id %}">
                <p class="item_name">{{ item.name }} ({{ item.brand }})</p>
                <p>{{ item.note }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}