<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Author</title>
</head>
<body>
    / <a href="/">Home</a> / <a href="/items">Items</a> / <a href="/about">About</a> / </br></br>
    <h2>Автор</h2>
    Имя: <strong>{{ about.familyname }}</strong><br>
    Отчество: <strong>{{ about.name }}</strong><br>
    Фамилия: <strong>{{ about.surname }}</strong><br>
    Телефон: <strong>{{ about.telephone }}</strong><br>
    Email: <strong>{{ about.email }}</strong><br>
</body>
</html>