{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/items.css' %}" type="text/css">
    <title>Items</title>
</head>
<body>
    <header>/ <a href="/">Home</a> / <a href="/items">Items</a> / <a href="/about">About</a></header></br>
    <h2>Список товаров</h2>
    <div class="items">
        {% for item in items %}
        <div class="item">
            <a href="/item/{{item.id}}">
                <p class="item_name">{{ item.name }} ({{ item.brand }})</p>
                <p>{{ item.note }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</body>
</html>