{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/items.css' %}" type="text/css">
    <title>Items</title>
</head>
<body>
    <header>/ <a href="/">Home</a> / <a href="/items">Items</a> / <a href="/about">About</a></header></br>
    <h2>Список товаров</h2>
    <div class="wrap">
        {% for item in items %}
        <div class="cart">
            <div class="front"><a href="/item/{{item.id}}">{{ item.name }}</a></div>
            <div class="back"><p>{{ item.note }}</p></div>
        </div>
        {% endfor %}
      </div>
</body>
</html>